/*@font-face {*/
/*    font-family: 'MyFont';*/
/*    src: url('./my-font.woff2') format('woff2'),*/
/*    url('./my-font.woff') format('woff');*/
/*    font-weight: 600;*/
/*    font-style: normal;*/
/*}*/

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.root {
    height: 100%;
    background-color: #76cafd;
    display: grid;
    grid-template-columns: 1fr 5fr;

}

.side-bar {
    border: 1px solid black;
    grid-column: 1 / 2;
    height: 100vh;
}

.main-content {
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-rows: 2fr 200px 2fr;
}

.weather-details {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.forecast {
    padding: 1rem;
}

.icon-temp-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    font-size: 6rem;
    gap: 2rem;
}

.weather-icon-large {
    height: 150px;
}

.weather-icon-medium {
    height: 100px;
}

.weather-icon-small {
    height: 50px;
}

.current-temp {
    align-self: center;
}

.search {
    padding: 1rem;
}

.card {
    padding: 1rem;
    border-radius: 20px;
    background-color: #92d2fa;
    box-shadow: 0 4px 5px 0 #52aae1;
    display: flex;
    gap: .5rem;
}

.recent-card, .forecast-card {
    height: 100%;
}

.forecast-card {
    flex-direction: column;
}

.card input {
    flex: 1;
}

.recent {
    padding: 1rem;
}

.hourly-weather-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr;
}

.title {
    font-size: 2rem;
    grid-column: 1 / 3;
}

.weather-div {
    align-self: center;
    justify-self: center;
    text-align: center;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
}

.five-day-forecast {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1rem;
    grid-row: 3 / 4;

}